![](https://pngimage.net/wp-content/uploads/2018/06/iteso-png-3.png)
***Profesor*** : Oscar David Jaramillo Zuluaga.


***Tarea 2***


***NOMBRES***:Luis María Ramírez de la Rosa y Roberto Chávez Guerrero


***Fecha*** : 18 de septiembre de 2020


***Expedientes*** : IF691761, If714643

##### Link

https://github.com/luismaria8992ramirez/Tarea_2b/blob/master/Tarea2b.ipynb

#### librerias

In [1]:
import pandas as pd
import numpy as np
from functools import reduce

## Ejercicio 1

Imagine una rutina contable utilizada en una librería. Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. Escribe un programa Python usando unicamente las funciones lambda y map.

In [2]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
operador=lambda x,y:x*y
def aumentar(value):
    if value<100:
       value+=10
    return(value)
resultado=list(map(aumentar,[operador(orders[i][2],orders[i][3]) for i in np.arange(len(orders))]))
result=list(map(lambda x,y: (x[0],y),orders,resultado))
pd.DataFrame(result)

       0       1
0  34587  163.80
1  98762  284.00
2  77226  108.85
3  88112   84.97

In [3]:
## Ejercicio 2

In [5]:
from functools import reduce
fib= (1,2,3,4)
suma=reduce(lambda x,y:x+y,fib)
multiplicacion=reduce(lambda x,y:x*y,fib)
print(suma,multiplicacion)

10 24

In [8]:
from functools import reduce
import pandas as pd
fib= (1,2,3,4)
suma=reduce(lambda x,y:x+y,fib)
multiplicacion=reduce(lambda x,y:x*y,fib)
print(suma,multiplicacion)
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

valor_minimo= 100
precios = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2] if y[1]*y[2]>=valor_minimo else y[1]*y[2] +10 , x[1:])), orders))

numypre = list(map(lambda x: [x[0]] + [reduce(lambda a,b: a + b, x[1:])], precios))

pd.DataFrame(numypre)

10 24

   0       1
0  1  688.33
1  2  504.46
2  3  374.80
3  4  502.57

### Ejercicio 3

Use filter to eliminate all words that are shorter than 4 letters from a list of words list='the notion of a lambda function goes all the way back to the origin of computer science'

In [9]:
from functools import reduce
frase='the notion of a lambda function goes all the way back to the origin of computer science'

#RESPUESTA 3
f1=lambda x:len(x)<4
operador=list(filter(f1,frase.split()))
operador

['the', 'of', 'a', 'all', 'the', 'way', 'to', 'the', 'of']

### Ejercicio 4

Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [10]:
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)

#RESPUESTA 4
f1=lambda x:x>=32 and x<=80
filtro=filter(f1,temperatures)
print(list(filtro))

[35.97387961379455, 63.211195349983264, 73.90387696517755, 36.982512376595906, 68.75395211338406, 45.86132066984196, 36.58307493022292, 56.322083650154724, 33.9621930206693, 45.29071317816652, 74.86289938282341, 66.51091382521807, 46.831316244170544, 44.55796498523391]

### Ejercicio 5

Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations

In [11]:
from functools import reduce
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

f = lambda x,y: x if np.linalg.norm(x) <= np.linalg.norm(y) else y
print('Las coordenadas de la esquina inferior derecha son:',reduce(f, point_xy))

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]
Las coordenadas de la esquina inferior derecha son: [14  2]